doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna enim. Nulla euismod quis nulla in dictum. Aliquam erat volutpat. Mauris euismod cursus laoreet. Duis fringilla facilisis lacus interdum ultrices. Curabitur id purus venenatis, facilisis diam non, ultricies ex.
              section.cell
              